.main-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "information graph buttons";
    justify-items: center;
}

.information { grid-area: information; }

.graph {
    grid-area: graph;
}

.buttons { grid-area: buttons; }

.mini-container {
    background-color: #ffffff;
    margin: 10px;
    padding: 15px;
    position: relative;
    box-shadow: 2px 2px 2px lightgrey
}

.info-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "info1 info2 info3" "info4 info5 info6";
}

.info1 { grid-area: info1; }

.info2 { grid-area: info2; }

.info3 { grid-area: info3; }

.info4 { grid-area: info4; }

.info5 { grid-area: info5; }

.info6 { grid-area: info6; }

.buttons-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-gap: 2rem;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "button1 button2" "button3 button4" "button5 button6" "button7 button7";
}
  
.button1 { 
    grid-area: button1;
}
  
.button2 {
    grid-area: button2;
}
  
.button3 {
    grid-area: button3;
}
  
.button4 {
    grid-area: button4;
}

.button5 {
    grid-area: button5;
}

.button6 {
    grid-area: button6;
}

.button7 {
    grid-area: button7;
}

.button {
    width: 200px;
    background-color: #ffffff
    
}

.button-large {
    width: 420px;
    background-color: #ffffff
}

.update-button {
    background-color: #ffffff
}

.detailed-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "simulation detailed-information startups";
    justify-items: center;
}

.startups { grid-area: startups; }
  
.detailed-information { grid-area: detailed-information; }
  
.simulation { grid-area: simulation; }

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "mini-container1" "mini-container2" "mini-container3" "mini-container4" "mini-container5";
  }
  
.mini-container1 { grid-area: mini-container1; }
  
.mini-container2 { grid-area: mini-container2; }
  
.mini-container3 { grid-area: mini-container3; }
  
.mini-container4 { grid-area: mini-container4; }

.mini-container-detailed {
    background-color: #ffffff;
    margin: 10px;
    padding: 15px;
    position: relative;
    box-shadow: 2px 2px 2px lightgrey;
    width: 400px
}

.simulation-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "total-relation rendabruta-relation" "lucro lucro" "slider1 slider2";
  }
  
.total-relation { grid-area: total-relation; }

.rendabruta-relation { grid-area: rendabruta-relation; }

.lucro { grid-area: lucro; }

.slider1 { grid-area: slider1; }

.slider2 { grid-area: slider2; }

.mini-container-simulation {
    background-color: #ffffff;
    margin: 10px;
    padding: 15px;
    position: relative;
    box-shadow: 2px 2px 2px lightgrey;
    width: 200px
}

.mini-container-simulation-large {
    background-color: #ffffff;
    margin: 10px;
    padding: 15px;
    position: relative;
    box-shadow: 2px 2px 2px lightgrey;
    width: 450px
}

.startup-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "startup1" "startup2" "startup3";
  }
  
.startup1 { grid-area: startup1; }

.startup2 { grid-area: startup2; }

.startup3 { grid-area: startup3; }
